/* Burger.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    padding: 4px;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    border-radius: 8px;
    background: #333;
    transition: transform 0.2s, opacity 0.3s;
}

.open .bar:nth-of-type(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-of-type(2) {
    opacity: 0;
}

.open .bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
}
